sauna_flows_raspberrypi.json
[{"id":"de1bdb62.8b2238","type":"tab","label":"Sauna Temp","disabled":false,"info":""},{"id":"e1696979.3948c8","type":"firebase admin","z":"","name":"Sauna Speaks"},{"id":"876b97c7.b5a4b","type":"sensor-ds18b20","z":"de1bdb62.8b2238","name":"Temp","topic":"","sensorid":"28-031897792915","timer":"30","repeat":true,"x":290,"y":360,"wires":[["1d12f4af.634d6b","8638e7ab.750668"]]},{"id":"5e4dbc90.bee1e4","type":"debug","z":"de1bdb62.8b2238","name":"Format Json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":460,"wires":[]},{"id":"1d12f4af.634d6b","type":"function","z":"de1bdb62.8b2238","name":"Payload","func":"if(msg.payload !== undefined) {\n    return { payload: {\n        temp: msg.payload,\n        timestamp: new Date().getTime()\n    }\n    }\n} ","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["5e4dbc90.bee1e4","f77193f2.dd23e"]]},{"id":"f77193f2.dd23e","type":"Firestore out","z":"de1bdb62.8b2238","name":"Firestore","collection":"temperature","document":"","operation":"add","admin":"e1696979.3948c8","x":730,"y":360,"wires":[["185abd1.ef65b43"]]},{"id":"8638e7ab.750668","type":"debug","z":"de1bdb62.8b2238","name":"Read Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":280,"wires":[]},{"id":"185abd1.ef65b43","type":"debug","z":"de1bdb62.8b2238","name":"Send to Firebase","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":280,"wires":[]}]